@import url('https://fonts.googleapis.com/css?family=Quicksand|Stylish&display=swap');

/*
Use of Google fonts
font-family: 'Stylish', sans-serif; (for headers)
font-family: 'Quicksand', sans-serif; (for paragraphs)
*/

body {
    margin: 0;
}

/*Navbar styling*/

.topnav {
    background-color: #07518E;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Stylish', sans-serif;
}
  
.topnav a:hover {
    background-color: #EE9106;
}
  
.active {
    background-color: #EE9106;
}
  
.topnav .icon {
    display: none;
}

@media screen and (max-width: 760px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 760px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

#main-header {
    width: 100%;
    text-align: center;
    height: 300px;
    background-color: #07518E;
}

#main-header h1 {
    margin-top: 0px;
    padding-top: 100px;
    font-family: 'Stylish', sans-serif;
    font-size: 55px;
    color: #fafafa;
}